<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <title>My Ojo</title>
</head>
<body>
    <nav id="menu">
        <div class="itens">
            <a href="/" class="item-menu">
                <img src="imgs/logo.png" alt="" class="logo-img">
            </a>
            <a href="/" class="item-menu">
                <div class="item">Home</div>
            </a>
            <a href="/galery" class="item-menu">
                <div class="item">Galery</div>
            </a>
            <a href="/pessoa/login" class="item-menu">
                <div class="item">Login</div>
            </a>
            <a href="/pessoa/cadastrar" class="item-menu">
                <div class="item">Cadastrar</div>
            </a>
            <a href="/admin/cadastrar" class="item-menu">
                <div class="item">Cadastrar Prato</div>
            </a>
            <a href="/carrinho/listar" class="item-menu">
                <div class="item">Carrinho</div>
            </a>
        </div>
        <script src="js/i_ndex.js"></script>
    </nav>
    <header class="img-intro">
        <div class="div-front">
            <img src="imgs/restaurante.jpg" alt="" class="img-front">
            <p class="text-intro">My Ojo</p><br>
            <p class="text-intro-down">----Entre----<br>
                So Miojo Bom</p>
        </div>
    </header>
    <main class="corpo">
        <div class="container container-anime">
            <div class="sobre">
                <img src="imgs/miojo_bacon.jpg" alt="" class="img-prato1">
                <p class="text-sobre">Miojo com Bacon<br>Preço: 10.0</p><br>
                <img src="imgs/miojo_ovo.jpg" alt="" class="img-prato2">
                <p class="text-sobre">Miojo com Ovo(Fresco)<br>Preço: 16.0</p>
            </div>
        </div>
        <div class="container container-anime">
            <div class="sobre">
                <img src="imgs/miojo_strogonof.jpg" alt="" class="img-prato1">
                <p class="text-sobre">Miojo com Strogonof<br>Preço: 24.0</p><br>
                <img src="imgs/miojo_queijo.jpg" alt="" class="img-prato2">
                <p class="text-sobre">Miojo com Queijo<br>Preço: 10.0</p>
            </div>
        </div>
        <div class="container container-anime">
            <div class="sobre">
                <img src="imgs/miojo_catchup.jpg" alt="" class="img-prato1">
                <p class="text-sobre">Miojo com Catchup<br>Preço: 20.0</p><br>
                <img src="imgs/miojo_salsicha.jpg" alt="" class="img-prato2">
                <p class="text-sobre">Miojo com Salsicha<br>Preço: 12.0</p>
            </div>
        </div>
    </main>
    <div class="rodape">
            <hr>
            <h4>Tel: 4002-8922,2012,Criado por João Marcelo</h4>
        </div>
    <script src="js/jquery.js"></script>
    <script src="js/i_ndex.js"></script>
</body>
</html>